// Base codeblock styles and import

// Color Theme - GitHub (more or less, not everything lines up for some reason)
$base03:          #002b36 !default;
$base02:          #073642 !default;
$base01:          rgb(51,51,51) !default;
$base00:          #657b83 !default;
$base0:           #839496 !default;
$base1:           rgba(0,0,0,.3) !default;
$base2:           rgba(65,131,196,.4) !default;
$base3:           rgba(255,255,255,.1) !default;
$yellow:    #b58900 !default;
$orange:    rgb(0,128,128) !default;
$red:       #dc322f !default;
$magenta:   rgb(68,85,136) !default;
$violet:    #6c71c4 !default;
$blue:      rgb(0,0,128) !default;
$cyan:      rgb(221,17,68) !default;
$green:     #859900 !default;

$lightdark: light !default;

@if $lightdark == light {

  $_base03: $base03;
  $_base02: $base02;
  $_base01: $base01;
  $_base00: $base00;
  $_base0:  $base0;
  $_base1:  $base1;
  $_base2:  $base2;
  $_base3:  $base3;

  $base03:  $_base3;
  $base02:  $_base2;
  $base01:  $_base1;
  $base00:  $_base0;
  $base0:   $_base00;
  $base1:   $_base01;
  $base2:   $_base02;
  $base3:   $_base03;
}

/* non highlighted code colors */
$pre-bg: $base03 !default;
$pre-border: darken($base02, 5) !default;
$pre-color: $base1 !default;
