// Colors

$color-main: #fcfcfc; // Pale grey
$color-highlight: #297397; // Dark blue
$color-complement: #50585c; // Grey
$color-accent: #5E99B5; // Slightly darker pale blue

// Typefaces

$font-serif: "Baskerville", "Cochin", "Gentium", "Times New Roman", Times, serif;
$font-sans: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$font-mono: "Anonymous Pro", "Andale Mono", "Monaco", "Consolas", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Liberation Mono", "Lucida Console", monospace;
$font-display: "URW Chancery L, Medium Italic", "URW Chancery L", "Apple Chancery", "Black Chancery", "Lucida Calligraphy", serif;

// Measurements

$gutter: 10px;
$column: 60px;