@mixin mask-image($img, $repeat: no-repeat){
  @include experimental(mask-image, image-url($img), -webkit, -moz, -o, -ms);
  @include experimental(mask-repeat, $repeat, -webkit, -moz, -o, -ms);
  width: image-width($img);
  height: image-height($img);
}

@mixin shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .15) 0 1px 4px, $border-radius: .3em) {
  @include border-radius($border-radius);
  @include box-shadow($shadow);
  @include box-sizing(border-box);
  border: $border;
}

@mixin selection($bg, $color: inherit, $text-shadow: none){
  * {
    &::-moz-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::-webkit-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::selection { background: $bg; color: $color; text-shadow: $text-shadow; }
  }
}

@function text-color($color, $dark: dark, $light: light){
  $text-color: ( (red($color)*299) + (green($color)*587) + (blue($color)*114) ) / 1000;
  $text-color: if($text-color >= 150, $dark, $light);
  @return $text-color;
}

// Backgrounds

$noise-bg: none;

// Colors

$color-main: #fcfcfc; // Pale grey
$color-highlight: #297397; // Dark blue
$color-complement: #50585c; // Grey
$color-accent: #5E99B5; // Slightly darker pale blue

// Typefaces

$font-serif: "Baskerville", "Cochin", "Gentium", "Times New Roman", Times, serif;
$font-sans: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$font-mono: "Anonymous Pro", "Andale Mono", "Monaco", "Consolas", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Liberation Mono", "Lucida Console", monospace;
$font-display: "URW Chancery L, Medium Italic", "URW Chancery L", "Apple Chancery", "Black Chancery", "Lucida Calligraphy", serif;

// Measurements

$gutter: 10px;
$column: 60px;